# .NET build artifacts
bin/
obj/
*.user
*.suo
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.ncb
*.sdf
*.opensdf
*.vcxproj.filters
*.vcxproj.user

# MSTest
TestResults/

# NuGet packages
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
nuget.config
packages/

# Rider
.idea/
*.sln.iml
